/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290@matchaa/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../app/stylesheets/screen.scss */
body {
  margin: 0;
  padding: 0;
  background: #bab79f url(../images/body-bg.png) top center repeat;
  text-align: center;
}
/* line 14, ../../app/stylesheets/screen.scss */
body #header, body #section, body #footer {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 20, ../../app/stylesheets/screen.scss */
body #header div.page, body #section div.page, body #footer div.page {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
/* line 28, ../../app/stylesheets/screen.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: 'Holtwood One SC';
}
/* line 32, ../../app/stylesheets/screen.scss */
body input[type=submit], body #footer {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px #000;
}
/* line 39, ../../app/stylesheets/screen.scss */
body header#header {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #706e5e;
  min-height: 80px;
}
/* line 44, ../../app/stylesheets/screen.scss */
body header#header h1 {
  float: left;
  padding: .5em 0 .5em 2.2em;
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  color: #FFF;
  background: transparent url(../images/logo.png) top left no-repeat;
}
/* line 53, ../../app/stylesheets/screen.scss */
body header#header h1 a {
  background: transparent;
}
/* line 58, ../../app/stylesheets/screen.scss */
body header#header a.logout {
  font-family: 'Holtwood One SC';
  font-size: 1.8em;
  float: right;
  margin: 25px 0;
  text-decoration: none;
  color: #FFF;
}
/* line 67, ../../app/stylesheets/screen.scss */
body header#header div.login {
  width: 333px;
  height: 188px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: transparent url(../images/login-top.png) bottom center no-repeat;
}
/* line 76, ../../app/stylesheets/screen.scss */
body header#header div.login input[type=text], body header#header div.login input[type=email] {
  padding: 5px;
  border: none;
  border-radius: 30px;
  margin: .5em auto;
  min-width: 250px;
  font-size: 14px;
  outline: none;
}
/* line 86, ../../app/stylesheets/screen.scss */
body header#header div.login input[type=submit] {
  border: none;
  cursor: pointer;
  margin: .5em auto;
  outline: none;
  background: #055989;
  color: #FFF;
  font-size: 1.4em;
  padding: 5px 20px;
  border-radius: 30px;
}
/* line 101, ../../app/stylesheets/screen.scss */
body section#section div.page {
  padding: 1em 0 3em 0;
  margin-top: 2em;
}
/* line 106, ../../app/stylesheets/screen.scss */
body section#section #banner {
  display: inline-block;
  background: transparent url("../images/front-banner.png") top left no-repeat;
  width: 765px;
  height: 300px;
  position: relative;
}
/* line 113, ../../app/stylesheets/screen.scss */
body section#section #banner .user {
  position: absolute;
  width: 200px;
  height: 100px;
}
/* line 118, ../../app/stylesheets/screen.scss */
body section#section #banner .user .user_name {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #333;
  text-shadow: 0 1px #d1b290;
  display: block;
  margin: 1em auto;
  text-transform: uppercase;
}
/* line 128, ../../app/stylesheets/screen.scss */
body section#section #banner .user.left {
  left: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border: none;
}
/* line 137, ../../app/stylesheets/screen.scss */
body section#section #banner .user.left .user_image {
  float: left;
}
/* line 142, ../../app/stylesheets/screen.scss */
body section#section #banner .user.right {
  right: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border: none;
}
/* line 151, ../../app/stylesheets/screen.scss */
body section#section #banner .user.right .user_image {
  float: right;
}
/* line 158, ../../app/stylesheets/screen.scss */
body section#section #description {
  display: inline-block;
}
/* line 161, ../../app/stylesheets/screen.scss */
body section#section #description h1 {
  margin: .5em auto;
  font-size: 3em;
  color: #055989;
}
/* line 167, ../../app/stylesheets/screen.scss */
body section#section #description span {
  font-size: 1.5em;
  line-height: 1.6em;
  color: #5e5c4e;
  text-shadow: 0 1px #FFF;
  float: left;
  width: 100%;
}
/* line 177, ../../app/stylesheets/screen.scss */
body section#section .divider {
  display: block;
  padding: 0;
  margin: 1em auto;
  border-top: 4px dotted #999;
  clear: both;
  text-align: center;
}
/* line 185, ../../app/stylesheets/screen.scss */
body section#section .divider span {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: -12px auto 0;
  background: #bebba4;
  width: 30px;
}
/* line 196, ../../app/stylesheets/screen.scss */
body section#section #login {
  clear: both;
  padding: 1em 0;
}
/* line 200, ../../app/stylesheets/screen.scss */
body section#section #login label {
  display: none;
}
/* line 204, ../../app/stylesheets/screen.scss */
body section#section #login input[type=text], body section#section #login input[type=email] {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  outline: none;
}
/* line 213, ../../app/stylesheets/screen.scss */
body section#section #login input[type=submit] {
  display: inline;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 6px 18px;
  background: #055989;
  color: #FFF;
  text-shadow: 0 1px #000;
  text-transform: uppercase;
}
/* line 227, ../../app/stylesheets/screen.scss */
body section#section form label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  padding: .5em 0;
  font-size: 11px;
}
/* line 235, ../../app/stylesheets/screen.scss */
body section#section form input[type=text], body section#section form input[type=email] {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  width: 90%;
}
/* line 245, ../../app/stylesheets/screen.scss */
body section#section form input[type=submit] {
  clear: both;
  display: inline-block;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 6px 18px;
  margin: 1em auto 0;
  background: #055989;
  color: #FFF;
  text-shadow: 0 1px #000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
/* line 260, ../../app/stylesheets/screen.scss */
body section#section form img {
  float: left;
  padding: 0 10px;
  margin: 0 30px 0 10px;
}
/* line 267, ../../app/stylesheets/screen.scss */
body section#section h1 {
  font-size: 1.8em;
  margin: .5em auto;
}
/* line 272, ../../app/stylesheets/screen.scss */
body section#section .left, body section#section .right {
  width: 400px;
  padding: 25px 15px;
  margin: 0;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 4px #333 inset;
  border-radius: 5px;
}
/* line 281, ../../app/stylesheets/screen.scss */
body section#section .left.left, body section#section .right.left {
  float: left;
  background: #555;
  color: #FFF;
}
/* line 287, ../../app/stylesheets/screen.scss */
body section#section .left.right, body section#section .right.right {
  float: right;
  background: #555;
  color: #FFF;
}
/* line 294, ../../app/stylesheets/screen.scss */
body section#section div.category {
  width: 300px;
  float: left;
  padding: 0 10px;
}
/* line 299, ../../app/stylesheets/screen.scss */
body section#section div.category h3 {
  margin: .5em auto;
}
/* line 303, ../../app/stylesheets/screen.scss */
body section#section div.category ul.questions {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 308, ../../app/stylesheets/screen.scss */
body section#section div.category ul.questions li {
  margin: 0;
  padding: 7px 5px;
  text-align: left;
  border-bottom: 1px dashed #CCC;
  line-height: 1.6em;
  font-size: 13px;
}
/* line 319, ../../app/stylesheets/screen.scss */
body section#section table {
  margin: 1em auto 0;
}
/* line 322, ../../app/stylesheets/screen.scss */
body section#section table thead td {
  font-family: 'Holtwood One SC';
}
/* line 327, ../../app/stylesheets/screen.scss */
body section#section table td {
  padding: 10px 5px;
}
/* line 333, ../../app/stylesheets/screen.scss */
body footer#footer {
  background: rgba(0, 0, 0, 0.78);
  color: #FFF;
  min-height: 100px;
}
/* line 338, ../../app/stylesheets/screen.scss */
body footer#footer span.copyright {
  padding: 1em 0;
  margin: .5em auto;
  font-size: 1.4em;
  text-transform: uppercase;
  display: block;
}

/* line 348, ../../app/stylesheets/screen.scss */
.hidden {
  display: none;
}

/* line 351, ../../app/stylesheets/screen.scss */
.clearfix {
  clear: both;
  display: block;
}
