/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background: #bab79f url(../images/body-bg.png) top center repeat;
  text-align: center;
}
body #header, body #section, body #footer {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
body #header div.page, body #section div.page, body #footer div.page {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: 'Holtwood One SC';
}
body input[type=submit], body #footer {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px #000;
}
body header#header {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #706e5e;
  min-height: 80px;
}
body header#header h1 {
  float: left;
  padding: .5em 0 .5em 2.2em;
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  color: #FFF;
  background: transparent url(../images/logo.png) top left no-repeat;
}
body header#header h1 a {
  background: transparent;
}
body header#header a.nav {
  font-family: 'Holtwood One SC';
  font-size: 1.2em;
  float: right;
  margin: 35px 10px;
  text-decoration: none;
  color: #FFF;
}
body header#header a.nav:hover {
  color: #055989;
}
body header#header div.login {
  width: 333px;
  height: 188px;
  position: absolute;
  right: -25px;
  top: 0;
  z-index: 2;
  background: transparent url(../images/login-top.png) bottom center no-repeat;
}
body header#header div.login input[type=text], body header#header div.login input[type=email] {
  padding: 5px;
  border: none;
  border-radius: 30px;
  margin: .5em auto;
  min-width: 250px;
  font-size: 14px;
  outline: none;
}
body header#header div.login input[type=submit] {
  border: none;
  cursor: pointer;
  margin: .5em auto;
  outline: none;
  background: #055989;
  color: #FFF;
  font-size: 1.4em;
  padding: 5px 20px;
  border-radius: 30px;
}
body section#section div.page {
  padding: 1em 0 3em 0;
  margin-top: 2em;
}
body section#section #comments {
  width: 940px;
  padding: 10px;
  background: #DDD;
  border: 1px solid #CCC;
  border-radius: 6px;
  display: inline-block;
}
body section#section #banner {
  display: inline-block;
  background: transparent url("../images/front-banner.png") top left no-repeat;
  width: 765px;
  height: 300px;
  position: relative;
  margin-top: 1em;
}
body section#section #banner .user {
  position: absolute;
  width: 250px;
  height: 100px;
}
body section#section #banner .user .user_name {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #333;
  text-shadow: 0 1px #d1b290;
  display: block;
  margin: 1em auto;
  text-transform: uppercase;
}
body section#section #banner .user.left {
  left: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border: none;
}
body section#section #banner .user.left .user_image {
  float: left;
}
body section#section #banner .user.left .user_name {
  text-align: right;
}
body section#section #banner .user.right {
  right: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border: none;
}
body section#section #banner .user.right .user_image {
  float: right;
}
body section#section #banner .user.right .user_name {
  text-align: left;
}
body section#section #description {
  display: inline-block;
}
body section#section #description h1 {
  margin: .5em auto;
  font-size: 3em;
  color: #055989;
  text-shadow: 0 1px #e0dcc5;
}
body section#section #description span {
  font-size: 1.5em;
  line-height: 1.6em;
  color: #5e5c4e;
  text-shadow: 0 1px #FFF;
  float: left;
  width: 100%;
}
body section#section .divider {
  display: block;
  padding: 0;
  margin: 1em auto 0;
  border-top: 4px dotted #999;
  clear: both;
  text-align: center;
}
body section#section .divider span {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: -12px auto 0;
  background: #bebba4;
  width: 30px;
}
body section#section div.box-match {
  width: 48%;
  padding: 0 0 10px 0;
  margin: 10px;
  background: #999;
  float: left;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 1px 10px #222;
}
body section#section div.box-match h3 {
  border-radius: 5px 5px 0 0;
  padding: 10px;
  background: #055989;
  border-bottom: 1px solid #362f29;
  color: #FFF;
  text-shadow: 0 1px #111;
}
body section#section div.box-match ul {
  border-top: 1px solid #c6c6c6;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
body section#section div.box-match ul li {
  padding: 12px 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #7a7a7a;
}
body section#section div.box-match ul li img.left, body section#section div.box-match ul li img.right {
  width: 37px;
  height: 37px;
  padding: 5px;
}
body section#section div.box-match ul li img.left {
  position: absolute;
  left: 10px;
  top: 4px;
}
body section#section div.box-match ul li img.right {
  position: absolute;
  right: 10px;
  top: 4px;
}
body section#section div.box-match ul li span {
  display: inline;
}
body section#section div.box-match ul li span h4 {
  color: #055989;
  text-shadow: 0 1px #DDD;
}
body section#section div.box-match ul li em {
  font-style: italic;
  font-size: 11px;
}
body section#section div.box-match ul li:last-child {
  border-bottom: none;
}
body section#section #login {
  clear: both;
  padding: 1em 0;
}
body section#section #login label {
  display: none;
}
body section#section #login input[type=text], body section#section #login input[type=email] {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  text-align: center;
}
body section#section #login input[type=submit] {
  display: inline;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 6px 18px;
  background: #055989;
  color: #FFF;
  text-shadow: 0 1px #000;
  text-transform: uppercase;
}
body section#section #login form {
  width: 450px;
  margin: 0 auto;
  margin-top: 2em;
}
body section#section form label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  padding: .5em 0;
  font-size: 11px;
  font-weight: bold;
  margin-left: 30px;
  clear: both;
}
body section#section form input[type=text], body section#section form input[type=email] {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  width: 90%;
}
body section#section form input[type=submit] {
  clear: both;
  display: inline-block;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 6px 18px;
  margin: 1em auto 0;
  background: #055989;
  color: #FFF;
  text-shadow: 0 1px #000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
body section#section form img {
  float: left;
  padding: 0 10px;
  margin: 0 30px 0 10px;
}
body section#section h1 {
  font-size: 1.8em;
  margin: .5em auto;
}
body section#section .left, body section#section .right {
  width: 440px;
  padding: 25px 15px;
  margin: 0;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 4px #333 inset;
  border-radius: 5px;
}
body section#section .left .input, body section#section .right .input {
  float: left;
  width: 250px;
}
body section#section .left.left, body section#section .right.left {
  float: left;
  background: #555;
  color: #FFF;
}
body section#section .left.right, body section#section .right.right {
  float: right;
  background: #555;
  color: #FFF;
}
body section#section div.category {
  width: 300px;
  float: left;
  padding: 0 10px;
}
body section#section div.category h3 {
  margin: .5em auto;
}
body section#section div.category ul.questions {
  list-style: none;
  margin: 0;
  padding: 0;
}
body section#section div.category ul.questions li {
  margin: 0;
  padding: 7px 5px;
  text-align: left;
  border-bottom: 1px dashed #CCC;
  line-height: 1.6em;
  font-size: 13px;
}
body section#section table {
  margin: 1em auto 0;
}
body section#section table thead td {
  font-family: 'Holtwood One SC';
}
body section#section table td {
  padding: 10px 5px;
}
body footer#footer {
  background: rgba(0, 0, 0, 0.78);
  color: #FFF;
  min-height: 100px;
}
body footer#footer span.copyright {
  padding: 1em 0;
  margin: .5em auto;
  font-size: 1.4em;
  text-transform: uppercase;
  display: block;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
  display: block;
}

.notification {
  position: absolute;
  top: -32px;
  padding: 15px 0;
  color: #FFF;
  background: #f54223;
  border-radius: 0 0 10px 10px;
  z-index: 5;
  display: none;
  width: 100%;
}

span.num {
  border-radius: 30px;
  background: #9c8164;
  height: 25px;
  width: 25px;
  line-height: 25px;
  color: #FFF;
}
