%div#banner
	%div.user
		%span.user_image
			= image_tag player1.gravatar_url
		%span.user_name
			= player1.name
	
	%div.user
		%span.user_image
			= image_tag player2.gravatar_url
		%span.user_name
			= player2.name