= banner(@match) if @match

- unless user_signed_in?
  %div.divider
    %span or

  = render :partial => 'sessions/form'

%div.divider

%div#description
  %h1
    What's 'MATCHAA' all about?
  %span
    Matchaa allows you to pit two of your closest friends against each other in a battle of Matchaness. You will finally find out which of your friends is the most 'MATCHAA'! What are you waiting for?